<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Alterar senha</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/home">Home</a>
            </li>
            <li class="active">
                <strong>Alterar senha</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Alteração de senha</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Senha atual</label>
                                <input type="password" class="form-control" ng-model="pwd.actual" placeholder="Senha atual">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nova senha</label>
                                <input type="password" class="form-control" ng-model="pwd.new" placeholder="Nova senha">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Confirmar nova senha</label>
                                <input type="password" class="form-control" ng-model="pwd.confirmNew" placeholder="Confirmar nova senha">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#/home" class="btn btn-sm btn-default pull-right" ng-disabled="isProcessing" style="margin-left: 10px">Cancelar</a>
                            <button class="btn btn-sm btn-success pull-right" ng-disabled="isProcessing" ng-click="save()">Alterar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>