<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Clientes</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/home">Home</a>
            </li>
            <li>
                <a href="#/clients">Clientes</a>
            </li>
            <li>
                <a href="#/client?id={{ClientId}}">Cliente</a>
            </li>
            <li class="active">
                <strong>Evento</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dados do evento</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nome contato</label>
                                <input type="text" class="form-control" ng-model="ClientEvent.contactName" placeholder="Nome do contato">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Responsável pelo evento</label>
                                <select class="form-control" ng-model="ClientEvent.ownerId">
                                    <option ng-repeat="e in employees" value="{{e._id}}">{{e.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>                    
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tipo de evento</label>
                                <select class="form-control" ng-model="ClientEvent.event.type">
                                    <option></option>
                                    <option value="Ação">Ação</option>
                                    <option value="Convenção">Convenção</option>
                                    <option value="Corporativo">Corporativo</option>
                                    <option value="Feira">Feira</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Evento</label>
                                <input type="text" class="form-control" ng-model="ClientEvent.event.title" placeholder="Evento">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Local</label>
                                <input type="text" class="form-control" g-places-autocomplete ng-model="ClientEvent.event.place" placeholder="Local">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Data</label>
                                <input type="text" class="form-control" ng-model="ClientEvent.event.date" placeholder="Data" mask="99/99/9999">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Qtd. de pessoas</label>
                                <input type="text" class="form-control" ng-model="ClientEvent.event.people" placeholder="Qtd. de pessoas">
                            </div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Início</label>
                                <input type="text" class="form-control" ng-model="ClientEvent.event.timeBegin" placeholder="Início" mask="99:99">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Fim</label>
                                <input type="text" class="form-control" ng-model="ClientEvent.event.timeEnd" placeholder="Fim" mask="99:99">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Data montagem</label>
                                <input type="text" class="form-control" ng-model="ClientEvent.event.mount.date" placeholder="Data montagem" mask="99/99/9999">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Horário montagem</label>
                                <input type="text" class="form-control" ng-model="ClientEvent.event.mount.time" placeholder="Horário montagem" mask="99:99">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Data desmontagem</label>
                                <input type="text" class="form-control" ng-model="ClientEvent.event.unmount.date" placeholder="Data desmontagem" mask="99/99/9999">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Horário desmontagem</label>
                                <input type="text" class="form-control" ng-model="ClientEvent.event.unmount.time" placeholder="Horário desmontagem" mask="99:99">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Descrição do evento (Roteiro)</label>
                                <textarea rows="5" class="form-control" ng-model="ClientEvent.event.description" placeholder="Descrição do evento (Roteiro)"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Voltagem</label>
                                <select class="form-control" ng-model="ClientEvent.event.voltage">
                                    <option></option>
                                    <option value="110">110v</option>
                                    <option value="220">220v</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gerador</label>
                                <select class="form-control" ng-model="ClientEvent.event.generator">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Alimentação (A&B)</label>
                                <select class="form-control" ng-model="ClientEvent.event.aEb.need">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                                <textarea rows="3" class="form-control" ng-disabled="ClientEvent.event.aEb.need != 'S'" ng-model="ClientEvent.event.aEb.description" placeholder="Alimentação (A&B)"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Hospedagem</label>
                                <select class="form-control" ng-model="ClientEvent.event.accommodation.need">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                                <textarea rows="3" class="form-control" ng-disabled="ClientEvent.event.accommodation.need != 'S'" ng-model="ClientEvent.event.accommodation.description" placeholder="Hospedagem"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Translado</label>
                                <select class="form-control" ng-model="ClientEvent.event.transfer.need">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                                <textarea rows="3" class="form-control" ng-disabled="ClientEvent.event.transfer.need != 'S'" ng-model="ClientEvent.event.transfer.description" placeholder="Translado"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Sonorização</label>
                                <select class="form-control" ng-model="ClientEvent.event.sound.need">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                                <textarea rows="3" class="form-control" ng-disabled="ClientEvent.event.sound.need != 'S'" ng-model="ClientEvent.event.sound.description" placeholder="Sonorização"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Projeção</label>
                                <select class="form-control" ng-model="ClientEvent.event.projection.need">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                                <textarea rows="3" class="form-control" ng-disabled="ClientEvent.event.projection.need != 'S'" ng-model="ClientEvent.event.projection.description" placeholder="Projeção"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Luz Cênica</label>
                                <select class="form-control" ng-model="ClientEvent.event.lightCenica.need">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                                <textarea rows="3" class="form-control" ng-disabled="ClientEvent.event.lightCenica.need != 'S'" ng-model="ClientEvent.event.lightCenica.description" placeholder="Luz Cênica"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Decoração</label>
                                <select class="form-control" ng-model="ClientEvent.event.decoration.need">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                                <textarea rows="3" class="form-control" ng-disabled="ClientEvent.event.decoration.need != 'S'" ng-model="ClientEvent.event.decoration.description" placeholder="Decoração"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Com. Visual</label>
                                <select class="form-control" ng-model="ClientEvent.event.visualComunication.need">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                                <textarea rows="3" class="form-control" ng-disabled="ClientEvent.event.visualComunication.need != 'S'" ng-model="ClientEvent.event.visualComunication.description" placeholder="Com. Visual"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Brindes</label>
                                <select class="form-control" ng-model="ClientEvent.event.gifts.need">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                                <textarea rows="3" class="form-control" ng-disabled="ClientEvent.event.gifts.need != 'S'" ng-model="ClientEvent.event.gifts.description" placeholder="Brindes"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Recepcionista</label>
                                <select class="form-control" ng-model="ClientEvent.event.recepcionist.need">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                                <textarea rows="3" class="form-control" ng-disabled="ClientEvent.event.recepcionist.need != 'S'" ng-model="ClientEvent.event.recepcionist.description" placeholder="Recepcionista"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Uniformes</label>
                                <select class="form-control" ng-model="ClientEvent.event.uniforms.need">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                                <textarea rows="3" class="form-control" ng-disabled="ClientEvent.event.uniforms.need != 'S'" ng-model="ClientEvent.event.uniforms.description" placeholder="Uniformes"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Fotógrafo</label>
                                <select class="form-control" ng-model="ClientEvent.event.photographer.need">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                                <input type="text" class="form-control" ng-disabled="ClientEvent.event.photographer.need != 'S'" ng-model="ClientEvent.event.photographer.name" placeholder="Nome">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Filmagem</label>
                                <select class="form-control" ng-model="ClientEvent.event.filming.need">
                                    <option></option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                                <input type="text" class="form-control" ng-disabled="ClientEvent.event.filming.need != 'S'" ng-model="ClientEvent.event.filming.name" placeholder="Nome">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Solicitações do cliente</label>
                                <textarea rows="5" class="form-control" ng-model="ClientEvent.event.clientRequests" placeholder="Solicitações do cliente"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Demandas da produtora</label>
                                <textarea rows="5" class="form-control" ng-model="ClientEvent.event.companyDemands" placeholder="Demandas da produtora"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Pendências de fornecedores</label>
                                <textarea rows="5" class="form-control" ng-model="ClientEvent.event.providersPendency" placeholder="Pendências de fornecedores"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="javascript:void(0)" ng-click="goBack()" class="btn btn-sm btn-default pull-right" style="margin-left: 10px">Voltar</a>
                            <button class="btn btn-sm btn-danger pull-right" ng-show="Event._id != undefined && isAdmin" style="margin-left: 10px" ng-click="delete()">Excluir</button>
                            <button class="btn btn-sm btn-success pull-right" ng-show="isAdmin" ng-click="save()">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>