<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Home</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Home</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Agenda de eventos</h5>
                </div>
                <div class="ibox-content ui-calendar">
                    <div ui-calendar="uiConfig.calendar" class="span8 calendar" id="calendar" ng-model="eventSources"></div> 
                </div>
            </div>
        </div>
    </div>
</div>