<style>
    body{
    background-color: #f3f3f4 !important;
    }
</style>
    <div class="middle-box text-center loginscreen">
    <div>
        <h3>Welcome to ChooseRestaurant</h3>
        <p>The best way to choose where to have lunch ;)
        </p>
        <div class="form-group">
            <input type="email" autocomplete="off" class="form-control" placeholder="Email" ng-model="data.email" required="" maxlength="250">
        </div>
        <div class="form-group">
            <input type="password" autocomplete="off" class="form-control" placeholder="Password" ng-model="data.password" required=""  maxlength="250">
        </div>
        <button type="button" ng-click="login()" ng-disabled="isProcessing" class="btn btn-primary block full-width m-b">Login</button>    
        
        <p class="text-muted text-center"><small>Not a user?</small></p>
        <a class="btn btn-sm btn-white btn-block" href="#/signup">Create account</a>
        <p class="m-t"> <small>ChooseRestaurant &copy; 2017</small> </p>
    </div>
</div>