<style>
    body{
    background-color: #f3f3f4 !important;
    }
</style>
    <div class="middle-box text-center loginscreen">
    <div>
        <h3>Bem vindo</h3>
        <p>ADM Eventos - Acesso restrito.
        </p>
        <div class="form-group">
            <input type="email" autocomplete="off" class="form-control" placeholder="Email" ng-model="data.email" required="" maxlength="250">
        </div>
        <div class="form-group">
            <input type="password" autocomplete="off" class="form-control" placeholder="Senha" ng-model="data.password" required=""  maxlength="250">
        </div>
        <button type="button" ng-click="login()" ng-disabled="isProcessing" class="btn btn-primary block full-width m-b">Acessar</button>
    
        <a href="#/pwdrecover"><small>Esqueceu a senha?</small></a>
        <p class="text-muted text-center"><small>Não tem conta ainda?</small></p>
        <a class="btn btn-sm btn-white btn-block" href="#/signup">Criar conta</a>
        <p class="m-t"> <small>ADM Eventos &copy; 2017</small> </p>
    </div>
</div>