<style>
    body{
    background-color: #f3f3f4 !important;
    }
</style>
    <div class="middle-box text-center loginscreen">
    <div>
        <h3>Esqueceu a senha?</h3>
        <p>Informe o email para receber uma nova senha
        </p>
        <div class="form-group">
            <input type="email" autocomplete="off" class="form-control" placeholder="Email" ng-model="data.email" required="" maxlength="250">
        </div>
        <button type="button" ng-click="recover()" ng-disabled="isProcessing" class="btn btn-primary block full-width m-b">Recuperar senha</button>
        <a href="#/login"><small>Cancelar</small></a>
    
        <p class="m-t"> <small>ADM Eventos &copy; 2017</small> </p>
    </div>
</div>